<html>
  <head><meta charset="utf-8"/><link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"></head>
  <body style="font-family: 'Open Sans', sans-serif;">
    Bryan,<br/><br/>It's time to <a href="https://fantasy.espn.com/football/team?leagueId={{ league_id }}&teamId={{ team_id }}" style="color: #00a; text-decoration:none;">set your line-up</a>. Here's the optimal line-up for this week:
    <table style="border-spacing: 0; padding: 1em 0; min-width: 360px">
      <thead style="background-color: #666; color: #fff;">
        <tr><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Position</td><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Player</td></tr>
      </thead><tbody>
        <tr><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">QB</td><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ lineup.QB }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">RB1</td><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ lineup.RB1 }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">RB2</td><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ lineup.RB2 }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">WR1</td><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ lineup.WR1 }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">WR2</td><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ lineup.WR2 }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">TE</td><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ lineup.TE }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">FLX</td><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ lineup.FLX }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">D/ST</td><td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ lineup.DST }}</td></tr>
        <tr><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">K</td><td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ lineup.K }}</td></tr>
    </tbody>
    </table>
    Always yours,<br/>Bryan
  </body>
</html>