<html>
  <head>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
	    body {font-family: 'Open Sans', sans-serif; word-break: keep-all;}
      table {border-spacing: 0; padding: 1em 0; width: 100%;}
      tr:nth-child(even) {background-color: #f0f0f0;}
      tr:nth-child(odd) {background-color: #fcfcfc;}
      thead td{background-color: #666; color: #fff;}
      td {padding: 0.5em 1em; text-align: center;}
    </style>
  </head>
  <body>
    Bryan,<br/><br/>Here are your waiver claims for the week:
    <table>
      <thead>
        <tr><td>Drop</td><td>Pick-Up</td><td>Pos</td><td>Δ</td></tr>
      </thead>
      <tbody>
        {% for move in moves %}
        <tr><td>{{ move.drop }}</td><td>{{ move.pickup }}</td><td>{{ move.position }}</td><td>+{{ move.delta }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
    Best,<br/>Bryan
  </body>
</html>