<html>
  <head><meta charset="utf-8"/><link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"></head>
  <body style="font-family: 'Open Sans', sans-serif;">
    Bryan,<br/><br/>It's time to <a href="https://fantasy.espn.com/football/players/add?leagueId={{ league_id }}" style="color: #00a; text-decoration:none;">add new players</a>. Here are the top ones this week:
    <table style="border-spacing: 0; padding: 1em 0; min-width: 360px"">
      <thead style="background-color: #666; color: #fff;">
        <tr><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Drop</td><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Pick-Up</td><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Pos</td><td style="padding: 0.5em 1em; word-break: keep-all; text-align: center;">Δ</td></tr>
      </thead><tbody>
        {% for move in moves %}
          {% if loop.index %2 == 0%}
            <tr>
              <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ move.drop }}</td>
              <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ move.pickup }}</td>
              <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">{{ move.position }}</td>
              <td style="padding: 0.5em 1em; background-color: #f8f8f8; word-break: keep-all; text-align: center;">+{{ move.delta }}</td>
            </tr>{% else %}<tr>
              <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ move.drop }}</td>
              <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ move.pickup }}</td>
              <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">{{ move.position }}</td>
              <td style="padding: 0.5em 1em; background-color: #fcfcfc; word-break: keep-all; text-align: center;">+{{ move.delta }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    Always yours,<br/>Bryan
  </body>
</html>